<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="github_config_action_tree" model="ir.actions.act_window">
        <field name="name">Github</field>
        <field name="res_model">github_project.web_hook</field>
        <field name="view_type">tree</field>
         <field name="arch" type="xml">
             <field name="name"/>
         </field>
    </record>

    <record id="github_config_action_form" model="ir.actions.act_window">
        <field name="name">Github</field>
        <field name="res_model">github_project.web_hook</field>
        <field name="view_type">form</field>
    </record>


    <menuitem action="github_config_action_form" id="github_config"
              parent="project.menu_project_config"/>


</odoo>